.grid-item{
	padding:10px;
	text-overflow:ellipsis;
}
.grid .item-container{
	min-height: 300px;
	border:#eeeded 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.grid .product-image{
	width:auto;
}
.grid .product-image img{
	width:100%;
}
.grid .atcbutton{
	position:absolute;
	bottom:0;
	background-color:#fe8527;
	width:100%;
	text-align:center;
}
.grid .atcbutton:hover{
	cursor:pointer;
	background-color:#fe770e;
}
.atcbutton span{
	color:white;
	cursor:default;
	text-align:center;
	cursor:pointer;
	display:block;
	padding:10px 5px;
}

